# デフォルトの設定をそのままにする
#!includedir /etc/mysql/conf.d/
#!includedir /etc/mysql/mysql.conf.d/

# レプリケーション用の設定を追加する
[mysqld]
default_authentication_plugin=mysql_native_password
# server-id = 1 # DBサーバごとにユニークな値を指定する
log-bin = /var/log/mysql/bin-log # バイナリログの有効化及びそのファイル名
log-bin-index = /var/log/mysql/bin-log # バイナリログ一覧のファイル名指定
sync_binlog = 1 # バイナリログがトランザクションコミット時に同期書き込みされる