# proxysql.cnf
datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="root:root_pass;"
    mysql_ifaces="0.0.0.0:6032"
    refresh_interval=2000
    stats_credentials="root:root_pass"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:6033;/tmp/proxysql.sock"
    default_schema="information_schema"
    stacksize=1048576
    server_version="8.0"
    monitor_username           = "root"
    monitor_password           = "root_pass"
    commands_stats             = true
    sessions_sort              = true
}

mysql_servers =
(
    { address="mysql-master" , port=3308 , max_connections=100 , max_replication_lag = 5 }
)

mysql_users =
(
    { username = "root" , password = "rootpass" , default_hostgroup = 10 , active = 1 }
)